{% extends "base.html" %}
{% block content %}


  
  <!--This is the heading landing page -->


  
  {% for article in articles %}
  
<div  class=" container "  style="height:600px; margin-bottom: 50px;" >
  <img src=" {{ article.image.url }} " alt="Norway" style="float:left;width:100%;height:100%;object-fit:cover;">
</div>





 
  <!--The body part of this blog-->

  

  <div class="container">
    <h3 style="color: black; ">  {{ article.article_name}} </h3>
    <p>

      {{ article.article_paragraph_1 }}


    </p>
    <br>
      <br>

    <div class="container-fluid bg-dark  " style="height:150px;">
      
      <h5 style="font-size:40px; color:white; text-align:center; padding:40px;">ADS SPACE</h1>

    </div>


    <p>
      <br>
      <br>

      {{ article.article_paragraph_2 }}

    </p>
  </div>

  <br>
  <br>
  <br>




  <div class="container">
    <p   style="color: black ;"> Written By</p>
    <i class="fa-solid fa-feather-pointed"></i><hp style="color:green ;font-size:20px;"> <span></span>  &nbsp; <b>  {{ article.writer}} 
      <br> 
    <p style="color: black ;font-size:18px;"> {{article.date}}</p>

    </p>

  </div>


  <!--end-->
<!--Read more-->

<div class="container">
  <h2 class=" text-center" style="color:black !important;" >More For You</h2>
</div>

  <div class="container  overflow-auto shadow "  >
    
    
    <div class="row flex-row no-gutters w-100 flex-nowrap" style=" margin-bottom:20px; ">
      {% for article in recommendation %}
        <div class="col-6 padding-0" >
          
            <div class="cardi card-block" style="margin-right: 5%;" > 
              
            
              <a href=" {% url 'articleview' article.slug %} " style="text-decoration:none;">
              <img src="{{article.image.url}}" class="img-fluid w-100" alt="..." style="height:300px; object-fit:cover;" >

              <div class="cardi-body" style="margin-right: 20px ;" >
                <h5 class="card-title" style="color:black ; font-size: 20px; ">{{article.article_name}}</h5>
              </a>
                <p> {{article.article_caption}}... </p>
                <div class="container " style=" text-align:right; ">
                  <i style='font-size:18px;' class='far'>&#xf017;</i> {{article.date}}       </div>
                
              </div>
            </div>
          
        </div>
        {% endfor %}>
       
    </div>
</div>
  
</div>

{% endfor %}

     
{% endblock %}