{% extends "base.html" %}
{% block content %}
     
  <!--This is the list View of the articles-->
  <div class="container vh-90 shadow"  >
    

    {% for article in artliclelists %}
    
    
    
    
  <a href=" {% url 'articleview' article.slug %} " style="text-decoration:none; color: black;"> 
    <div class="cardi">
      <div class="cardi-body border-top border-secondary p-1">
        <div class="row">
          <div class="col-8">
            <h4 style="color: black) ;">{{ article.article_name }}</h4>
            <p>
              Viral This Week: Kenyans ask Riggy G to Give Comedian KK Job, Diana Marua Praise... Read more:
              https://www.tuko.co.ke/
            </p>
    
          </div>
          <div class="col-4">
            <img src="{{ article.image.url }}" style="height: 200px; color: black;"  class="d-block w-100" alt="...">
          </div>
    
        </div>
    
      </div>
    </div>
  </a>
    
    {% endfor %}

</div>
<div style="height:400px; margin-top: 40px;" class="container  " >
  <div class="container-fluid bg-dark  " style="height:150px;">
      
    <h5 style="font-size:40px; color:white; text-align:center; padding:40px;">ADS SPACE</h1>
  
  </div>
</div>


    
    
{% endblock %}