{% extends "base.html" %}
{% block content %}


  
  <!--This is the heading landing page -->


  
  {% for article in articles %}
  
<div  class=" container "  style="height:600px; margin-bottom: 50px;" >
  <img src=" {{ article.image.url }} " alt="Norway" style="float:left;width:100%;height:100%;object-fit:cover;">
</div>





 
  <!--The body part of this blog-->

  

  <div class="container">
    <h3 style="color: black; ">  {{ article.article_name}} </h3>
    <p>

      {{ article.article_paragraph_1 }}

    </p>
    <div class="container-fluid bg-dark  " style="height:150px;">
      
      <h5 style="font-size:40px; color:white; text-align:center; padding:40px;">ADS SPACE</h1>

    </div>


    <p>

      {{ article.article_paragraph_2 }}

    </p>
  </div>


  <div class="container">
    <p   style="color: black ;"> Written By</p>
    <i class="fa-solid fa-feather-pointed"></i><hp style="color:green ;"> <span></span>  &nbsp; <b>  {{ article.writer}} 
      <br> 
    <p style="color: black ;"> {{article.date}}</p>

    </p>

  </div>


  <!--end-->
<!--Read more-->

<div class="container">
  <h2 class=" text-center" style="color:black !important;" >More For You</h2>
</div>

  <div class="container  overflow-auto shadow "  >
    
    
    <div class="row flex-row no-gutters w-100 flex-nowrap" style=" margin-bottom:20px; ">
        <div class="col-6 padding-0" >
            <div class="cardi card-block" style="margin-right: 5%;" > <!--=======================================================================SETTING HEIGHT============================-->
              <img src="https://www.monaco.edu/app/uploads/sites/4/2021/07/Sports_Management.jpg" class="img-fluid w-100" alt="...">
              <div class="cardi-body" style="margin-right: 20px ;" >
                <h5 class="card-title" style="color:black ; font-size: 20px; ">If we stack multiple column classes</h5>
                <div class="container " style=" text-align:right; ">
                  <i style='font-size:18px' class='far'>&#xf017;</i> 20 hours ago
                </div>
                
              </div>
            </div>
        </div>
        <div class="col-6 " >
          <div class="cardi card-block"   style="margin-right: 5%;" > <!--=======================================================================SETTING HEIGHT============================-->
            <img src="https://www.monaco.edu/app/uploads/sites/4/2021/07/Sports_Management.jpg" class="img-fluid w-100" alt="...">
            <div class="cardi-body" >
              <h5 class="card-title" style="color:black ; font-size: 20px;  ">collaborating and sharing organizational knowledge.</h5>
              <div class="container " style=" text-align:right; ">
                <i style='font-size:18px' class='far'>&#xf017;</i>20 hours ago
              </div>
              
            </div>
          </div>
      </div>
      <div class="col-6" >
        <div class="cardi card-block"  style="margin-right: 5%;" > <!--=======================================================================SETTING HEIGHT============================-->
          <img src="https://www.monaco.edu/app/uploads/sites/4/2021/07/Sports_Management.jpg" class="img-fluid w-100" alt="...">
          <div class="cardi-body" >
            <h5 class="card-title" style="color:black ; font-size: 20px; ">Businesses Owned by Radio Present.</h5>

            <div class="container " style=" text-align:right; ">
              <i style='font-size:18px' class='far'>&#xf017;</i>     20 hours ago
            </div>
            
          </div>
        </div>
    </div>
       
    </div>
</div>
  
</div>

{% endfor %}

     
{% endblock %}